@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="~/css/costom.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
              $('#txtUserName').focus();
              $("#btnSave").click(function () {
                
                  var user = new Object();
                  user.UserName = $('#txtUserName').val();
                  user.Password = $('#txtPassword').val();                
                      $.ajax({
                      url: 'http://localhost:5266/api/user/IsAuthorized',
                      type: 'POST',
                      dataType: 'json',
                      data: user,
                      statusCode: {
                          202: function () {                              
                              //$('label[for=Name]').html("Login Successfull.");
                              var url = '@Url.Action("Index","Map")';
                              window.location.href = url;
                          },
                          404: function () {                              
                              $('label[for=Name]').html("Enter UserName and Password.");
                          },
                          401: function () {                              
                              $('label[for=Name]').html("Enter Valid UserName and Password.");
                          }
                      },
                      error: function (jqXHR, textStatus, errorThrown)
                          {
                          //console.log("jqXHR= " + jqXHR.responseText + ", status code= " + jqXHR.statusCode + ", errorThrown= " + errorThrown);                        
                           console.log(jqXHR.responseText);                        
                          }                     
                  }); 
              });
          });
    </script>
</head>
<body>   
       
    <div class="wrapper">
	<div class="wrapper-header">
    	<div class="main">
        	<div ></div>                                         
            </div>            
        </div>
    

	<div class="main">
    	<div class="box box-shadow border-radius">
        	<h1 class="text-shadow">Login</h1>
        	<div class="box-all box-shadow border-radius">
                <div class="lbl-con">
                    <label for="Name" class="lbl-msg"> </label>
                 </div>
            	<div class="box-con">
                	<div class="box-left">User Name</div>
                    <div class="box-right">
                        <input id="txtUserName" type="text" name="UserName" class="box-txtbx radius-box fild-shadow"/>                        
                </div>
                
                <div class="box-con">
                	<div class="box-left">Password</div>
                    <div class="box-right">
                        <input id="txtPassword" type="password" name="Password" class="box-txtbx radius-box fild-shadow" />                        
                    </div>
                    <div class="btn">                        
                        <input type="button" value="Submit" id="btnSave" class="nxt-btn fild-shadow text-shadow-other">                        
                    </div>                       
                </div>            
            </div>        
        </div>    
    </div>       
</div>


</body>
</html>



